<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Title" value="Configuration Example"/>
    <add key="Language" value="CSharp"/>
  </appSettings>
  <connectionStrings>
    <add name="SQLConnection" connectionString="Data Source=EGY-AAMAGAD-NB;Initial Catalog=EmployeeSkilllsDb;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="SQLTestConnection" connectionString="Data Source=EGY-AAMAGAD-NB;Initial Catalog=EmployeeSkillsTestDB;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>